@charset "utf-8";

.ftop{ height:40px; line-height:40px; background-color:#f72a3b; padding:0px; overflow:hidden;}
.ftop .back{ display:block; width:18%; float:left;}
.ftop h2{ font-size:18px; line-height:10px; color:#fff; text-align:center; width:64%; float:left;  }
.ftop .comea{ display:block; width:18%; float:right; text-align:right; font-size:15px; color:#fff; line-height:40px;}





